@import 'reset';

body {
  background-color: #123456;
  font-family: sans-serif;
}

#chatroom {
  width: 90%;
  max-width: 600px;
  margin: auto;
  background-color: white;
  height: 100vh;
  position: relative;
}

#messages {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 80px;
  background-color: #abcdef;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  scroll-behavior: smooth;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.message {
  padding: 1rem;
}

.message-content {
  padding: 1rem;
  background-color: white;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 2rem;
  position:relative;
  min-width: 100px;
  animation: pop 0.3s cubic-bezier(.48,1.7,.87,1);
}

.message-content::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 2rem;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
}

#form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
}

#form input {
  width: 100%;
  padding: 1rem 2rem;
  border: 0;
}

#form button {
  width: 80px;
  background: none;
  border: 0;
}

.settings {
  position: fixed;
  z-index: 2;
  right: 1rem;
  top: 1rem;
}

.settings-button {  
  position: absolute;
  left: -40px;
  background: transparent;
  border:0;
  color: #0099ff;
}

.settings-form {
  background-color: white;
  padding: 2rem;
}
